.header {
  height: 10vh;
  width: 100vw;
  color: white;
  float: left;
  max-height: 64px;
}

.MainMenuButton {
  height: 100%;
  float: left;
}

.headercontainer-title {
	position:relative;
	left:-50%;
}

.headercontainer-title-container {
	position:absolute;
	left: 50%;
}

.headercontainer-version {
	text-align:right;
	width: 100%;
}
