.App {
  text-align: center;
  height: 480px;
}

.App-header {
  background-color: #222;
  height: 64px;
  width: 800px;
  color: white;
}

.MainBody {
  background-color: gray;
  height: 480px;
  width: 800px;
}

.App-title {
  font-size: 1.5em;
}

